body {
    color:#fff;
    font-family: 'Open Sans';
    text-align: center;
    margin: 0;
}
.content {
    /* Grid Changes */
    display: grid;
    /*grid-template-columns: 30% 20% 50%;*/ /*how many columns and width of each*/
    /*grid-template-columns: 1fr 2fr 1fr;*/
    /* grid-template-columns: repeat(3, 1fr); */


    /*Grid Rows*/
   /* grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: minmax(200px, auto);
    grid-template-rows: repeat(3, minmax(200px, auto));
    row-gap: 20px;
    column-gap: 20px;
    max-width: 960px;
    margin: 0 auto;*/

    /*Grid lines*/
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    max-width: 960px;
    margin: 0 auto;

}

.content div {
    background: #3bbecd;
    padding: 30px;
}

.content div:nth-child(even) {
    background: #666;
}

.nested {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
    grid-column: span 2;
}

.nested p {
    padding: 20px;
    margin:0;
}
.nested p:nth-child(even) {
    background-color: yellowgreen;
}
.nested p:nth-child(odd){
    background-color: brown;
}
/* .nested p:nth-child(1){
    grid-column: 1/3;
    grid-row:  1/3;
}
.nested p:nth-child(2){
    grid-column: 3/5;
} */